<!DOCTYPEhtml>
<htmllang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="preconnect"href="https://fonts.googleapis.com">
    <link rel="preconnect"href="https://fonts.gstatic.com"crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"rel="stylesheet">

    <link rel="stylesheet"href="../static/css/style-contact.css">
    <script src="https://kit.fontawesome.com/f7fb471b65.js"crossorigin="anonymous"></script>

</head>
<body>
    <header class="header-nav">
        <h1><span>T</span>u <span>T</span>ienda de Ropa</h1>
          <ul class="nav-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./Contacto.html">Contacto</a></li>
            <li><a href="./locales.html">Locales</a></li>
            <li><a href="./cambios.html">Cambios</a></li>
          </ul>
        </nav>
      </header>
    <main>
        <section class="form-wrapper">
           
            <form action="#"id="formRegister"method="GET"novalidate>
                <div class="form-control">
                    <label>Nombre</label>
                    <input type="text"requiredname="firstname"id="firstname">
                </div>
                <divc lass="error"id="error-firstname"></div>
                <div class="form-control">
                    <label>Apellido</label>
                    <input type="text"requiredname="lastname"id="lastname">
                </div>
                <div class="error"id="error-lastname"></div>
                <div class="form-control">
                    <label>Email</label>
                    <input type="email"requiredname="email"id="email">
                </div>
                <div class="error"id="error-email"></div>
                <div class="form-control">
                    <label>Contraseña</label>
                    <input type="password"requiredname="password"id="password">
                </div>
                <div class="error"id="error-password"></div>
                <div class="form-control">
                    <label id="label-birthdate">Fecha de Nacimiento</label>
                    <input type="date"requiredname="birthdate"id="birthdate">
                </div>
                <div class="form-control">
                    <select name="country"id="country"class="form-select">
                        <option value="">País</option>
                        <option value="AR">Argentina</option>
                        <option value="BO">Bolivia</option>
                        <option value="BR">Brasil</option>
                        <option value="CH">Chile</option>
                        <option value="CO">Colombia</option>
                        <option value="EC">Ecuador</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Perú</option>
                        <optionvalue="UY">Uruguay</option>
                        <option value="VE">Venezuela</option>
                    </select>
                </div>
                <div class="form-terms">
                    <div class="terms">
                        <input type="checkbox"id="terms">
                        <label for="terms">Acepto términos y condiciones</label>
                    </div>
                </div>
                <button type="button"id="btn-send">Registrarse</button>
                <div class="form-help">
                    <ah ref="#">Necesitasayuda?</a>
                </div>
            </form>
        </section>
        
    </main>
    <script src="../static/js/registrar.js"></script>
</body>
