<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/style.css">
    <meta name="viewport" content="width=<form action="agregar.php" method="post" style="width:50%;">
        
	<form action="agregar.php" method="post" style="width:50%;"></form>
        <fieldset>
            <legend>Datos</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="" size="30"><br>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" value="" size="30"><br>
            <label for="dni">DNI</label>
            <input type="text" name="dni" id="dni" value="" maxlength="10">
            <label for="dni">Telefono</label>
            <input type="text" name="telefono" id="telefono" value="" maxlength="10">
            <label for="dni">Salario</label>
            <input type="text" name="mail" id="mail" value="">
            <input type="hidden" name="tipo" id="tipo" value="">
            <input type="hidden" name="emp_id" id="emp_id" value="">
        </fieldset>
    
        <fieldset id="btn" style="text-align:right;">
            <legend>&nbsp;</legend>
            <input type="submit" name="enviar" value="Enviar Datos">
            <input type="reset" name="cancelar" value="Cancelar">
        </fieldset>
    </form>
    <title>Document</title>
</head>
<body>
    
</body>
</html>