<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Tienda de Ropa</title>
    <link rel="stylesheet" href="../static/css/style-locales.css">
    <link rel="shortcut icon" href="../static/img/tipografia.ico" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <h1><a href="../index.html"><span>T</span>u <span>T</span>ienda de Ropa</a></h1>
            <ul>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./Contacto.html">Contacto</a></li>
                <li><a href="./cambios.html">Cambios</a></li>
            </ul>
        </nav> 
    </header>
    <main class="flex-main">
        <aside class="flex-aside">
            BARRA LATERAL DE LOCALES
        </aside>
        <article class="flex-article">
            <div  class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.859877750231!2d-58.39304942103264!3d-34.70871401006799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb70f49a179d%3A0x73638689833041f!2sEstacion%20Lanus!5e0!3m2!1ses-419!2sar!4v1715037359185!5m2!1ses-419!2sar" width="600" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>    
        </article>
    </main>
 <!----------------------------------------------------------------------------------->    
    <footer class="flex-footer">
        <div class="copy">
            <p>&copy; 2024 Tu Tienda de Ropa</p>
        </div>
    </footer>

</body>
</html>