<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Tienda de Ropa</title>
    <link rel="stylesheet" href="../static/css/style-locales.css">
    <link rel="shortcut icon" href="../static/img/tipografia.ico" type="image/x-icon">
</head>

<body>
    <header class="header-nav">
        <h1><span>T</span>u <span>T</span>ienda de Ropa</h1>
        <nav>
          <ul class="nav-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../template/productos.html">Productos</a></li>
            <li><a href="../template/Contacto.html">Contacto</a></li>
            <li><a href="../template/locales.html">Locales</a></li>
            <li><a href="../template/cambios.html">Cambios</a></li>
          </ul>
        </nav>
      </header>
    <main class="flex-main">
        <aside class="flex-aside">
            <div class="local">
                <h4>Palermo</h4>
                <p>Av. Santa fe 1200</p>

            </div>
            <div class="local">
                <h4>Belgrano</h4>
                <p>Av. Santafe 1200.</p>
            </div>
            <div class="local">
                <h4>Quilmes</h4>
                <p>Av. Rivadavia 850.</p>
            </div>
            <div class="local">
                <h4>Bahia blanca</h4>
                <p>Av. Alsina 155</p>
            </div>
            <div class="local">
                <h4>Bariloche</h4>
                <p>Av. 12 de Octubre 1285</p>
            </div>
            <div class="local">
                <h4>Cordoba</h4>
                <p>Cruz Conde 950 </p>
            </div>
            <div class="local">
                <h4>Pinamar</h4>
                <p>Av. Arquitecto Jorge Bunge</p>
            </div>
        </aside>
        <article class="flex-article">
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.859877750231!2d-58.39304942103264!3d-34.70871401006799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb70f49a179d%3A0x73638689833041f!2sEstacion%20Lanus!5e0!3m2!1ses-419!2sar!4v1715037359185!5m2!1ses-419!2sar"
                    width="600" height="700" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>

    </main>
    <!----------------------------------------------------------------------------------->
    <footer class="flex-footer">
        <div class="copy">
            <p>&copy; 2024 Tu Tienda de Ropa</p>
        </div>
    </footer>
</body>

</html>