<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE-edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda</title>
    <!--iconos de caja -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/412dca169c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header class="header-nav">
      <h1><span>T</span>u <span>T</span>ienda de Ropa</h1>
        <ul class="nav-links">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./productos.html">Productos</a></li>
          <li><a href="./Contacto.html">Contacto</a></li>
          <li><a href="./locales.html">Locales</a></li>
          <li><a href="./cambios.html">Cambios</a></li>
        </ul>
      </nav>
    </header>

    <!--productos -->

    <section class="shop container">
      <h2 class="section-title">Nuestos productos</h2>

      <!--contenido -->
      <div class="shop-content">
        <!--caja 1 -->
        <div class="product-box">
          <img
            src="../static/img/Abrigo.jpg"
            alt=""
            class="product-img"
          />
          <h2 class="product-title">Campera</h2>
          <span class="product-price">$1000</span>
          <i class="bx bx bx-shopping-bag add-cart"></i>
        </div>

        <div class="product-box">
          <img
            src="../static/img/Buzo.jpg"
            alt=""
            class="product-img"
          />
          <h2 class="product-title">Buzo</h2>
          <span class="product-price">$100</span>
          <i class="bx bx bx-shopping-bag add-cart"></i>
        </div>

        <div class="product-box">
          <img
            src="../static/img/Camisa.jpg"
            alt=""
            class="product-img"
          />
          <h2 class="product-title">Camisa</h2>
          <span class="product-price">$50</span>
          <i class="bx bx bx-shopping-bag add-cart"></i>
        </div>

        <div class="product-box">
          <img
            src="../static/img/ConjunHombre.jpg"
            alt=""
            class="product-img"
          />
          <h2 class="product-title">Conjunto Hombre</h2>
          <span class="product-price">$2000</span>
          <i class="bx bx bx-shopping-bag add-cart"></i>
        </div>

        <div class="product-box">
          <img
            src="../static/img/Conjunto.jpg"
            alt=""
            class="product-img"
          />
          <h2 class="product-title">Conjunto</h2>
          <span class="product-price">$100</span>
          <i class="bx bx bx-shopping-bag add-cart"></i>
        </div>

        <div class="product-box">
          <img
            src="../static/img/Jean.jpg"
            alt=""
            class="product-img"
          />
          <h2 class="product-title">Jeans</h2>
          <span class="product-price">$1500</span>
          <i class="bx bx bx-shopping-bag add-cart"></i>
        </div>

        <div class="product-box">
          <img
            src="../static/img/Remera.jpg"
            alt=""
            class="product-img"
          />
          <h2 class="product-title">Remera</h2>
          <span class="product-price">$15</span>
          <i class="bx bx bx-shopping-bag add-cart"></i>
        </div>

        <div class="product-box">
          <img
            src="../static/img/Zapatilla.jpg"
            alt=""
            class="product-img"
          />
          <h2 class="product-title">Zapatilla</h2>
          <span class="product-price">$1200</span>
          <i class="bx bx bx-shopping-bag add-cart"></i>
        </div>
      </div>
    </section>
    <footer class="footer-page">
      <div class="group-one">
        <div class="box">
          <figure>
            <div class="logo">
              <a href="#">
                <span>T</span>u <span>T</span>ienda de Ropa</a>
              </a>
            </div>
          </figure>
        </div>
        <div class="box">
          <h2>SOBRE NOSOTROS</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptate!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptate!</p>
        </div>
        <div class="box">
          <h2>SIGUENOS</h2>
          <div class="redes">
            <a href="#" class="fa-brands fa-square-facebook"></a>
            <a href="#" class="fa-brands fa-square-instagram"></a>
            <a href="#" class="fa-brands fa-square-x-twitter"></a>
            <a href="#" class="fa-brands fa-square-youtube"></a>
          </div>
        </div>
      </div>
      <div class="group-two">
        <small>
          &copy;2024 <b>Tu tienda de ropa</b> - Todos los Derechos Reservados
        </small>
      </div>
    </footer>
    <script src=""></script>
  </body>
</html>
