*{
    font-family: 'poppins',sans-serif;
    margin:0;
}
:root{
    --main-color: #ff002b;
    --sec-color: #4946fd;
    --third-color:#5959bb;
    --text-color: #fdfffc;
    --bg-color: #000814;
    --bg2-color:#333;
}
/*---------para modificar-------------------------------------------*/
a{
    text-decoration: none;
    color: var(--text-color);
}
/*--------------------------------------------------------------*/
span{
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.25rem;
    color: var(--main-color);
}

body{
    background-image:linear-gradient(-90deg,var(--bg2-color),var(--third-color));
    font-size: 1.8rem;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header{
    border-bottom: 2px solid var(--main-color);
}

.flex-main{
    display: flex;
    flex: 1 
}
/*-----------------navegador---------------------------------------------------------*/
nav {
    background-color: var(--bg2-color);
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
nav ul {
    margin: auto;
    padding: 0.1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-weight: 100px;
    font-size: 75%;
}

nav ul li{
    padding: 0.75rem;
    font-size: 1rem;
}

/*-----------------navegador---------------------------------------------------------*/
.flex-article  {
    /* background-color: rgba(29, 27, 167, 0.014); */
    background-image:linear-gradient(-90deg,var(--bg2-color),var(--third-color));
    padding-top: 3rem;
    flex: 3 3;
}
.flex-aside{
    /* background-color: rgba(255, 0, 234, 0.493); */
    background-image:linear-gradient(-90deg,var(--bg2-color),var(--third-color));
    padding-top: 3rem;
    /* flex: 1 1 5rem; */
    flex: 1 1 3rem;
}
.flex-footer{
    background-color: var(--bg2-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 2px solid var(--main-color);
}
/*-----------------iframe---------------------------------------------------------*/

.flex-main article {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    position:relative ;
}
.flex-article{
    max-width: 950px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

}
.map-container{
    position: relative;
    padding-bottom:98% ;
    padding-top: 10%; 
    overflow:hidden;
}


.map-container iframe,
.map-container object,
.map-container embed{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/*-----------------------BARRA DE LOCALES-----------------------------------------------------*/

.flex-aside {
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
 }
.local{
    background-color: var(--bg2-color);
    margin: 5% 2%;
    padding: 5%;
    border: 0.3vh solid var(--main-color);
    border-radius: 10px;
}
/*--------------------------------------------------------------------------------*/
.local >h4{
    font-size: 1,4rem
}
.local >p {
    font-size: 1rem;
    font-style: italic;
}

/*--------------------------------------------------------------------------------*/

@media all and (max-width:950px){
    .flex-main{
        flex-direction: column;
    }
    .flex-aside {
        display: flex ;
        flex-flow: row wrap;
        .local{
            justify-content: center;
            align-items: center;
            margin: 1.5% ;
            padding: 5% ;
        }
    }
@media all and (max-width:360px){
    nav ul {
        /* flex-direction: column ; */
        flex-wrap: wrap;
        justify-content: center;
    }
    footer {
        font-size: 1rem;
    }
    /*-----------------------------------------------------------------------------*/

    /*-----------------------------------------------------------------------------*/
    .flex-aside {
        display: flex ;
        flex-flow: row wrap;
        .local{
            margin: 1%;
            padding: 0.7%;
        }
    }
    .local >h4{
        font-size: 1.1rem;
    }
    .local >p {
        font-size: 0.75rem;
        font-style: italic;
    }
    
}

}