.header-nav {
    background-color: #333;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    border-bottom: 2px solid var(--main-color);
}


.header-nav .nav-links {
    list-style-type: none;
}

.header-nav .nav-links li {
    display: inline;
    margin-right: .9rem;
}
.header-nav .nav-links li a:hover{
    color:#ffbc0e;
} 
.header-nav .nav-links li a {
    color: #fff;
    text-decoration: none;
}
.section-change h1{
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
}
.section-change h4{
    font-size: 20px;
}
.section-change p{
    font-size: 15px;
}
.section-change{
    margin-top: 0;
}
.section-change .section-info{
    
    justify-content:center;
    align-items: center;
    margin-left: 210px;
    margin-right: 210px;    ;
    border-left: 1px solid grey; /* Cambia el color según tu preferencia */
    padding-left: 10px; /* Ajusta el espacio entre la línea y el texto */
}
.form-change{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.button-change{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    border: none;
    color: white;
}
.button-change:hover{
    background-color:dimgray;
}

.footer-page{
    width: 100%;
    background-color: #333;
}
.footer-page .group-one{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer-page .group-one .box figure{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-page .group-one .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.footer-page .group-one .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer-page .group-one .redes a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #615c5c;
    text-align: center;
    transition: all 300ms ease;
}
.footer-page .group-one .redes a:hover{
    color: cadetblue;
}
.footer-page .group-two{
    background-color: #3b3737;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer-page .group-two small{
    font-size: 15px;
}
@media screen and (max-width:800px) {
    .footer-page .group-one{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
.footer-page .group-one .box a{
    font-size: 31px;
    text-decoration: none;
    color: #fff;
    margin-left: 25px;

    /*padding-top: 50px;*/
}
.footer-page .group-one .box span{
    font-weight: 600;
    text-shadow: #333;
    
    letter-spacing: 0.25rem;
    color: red;
    
}
.footer-page .group-one .box figure{
    display: inline-block; /* Cambiar a bloque para poder centrar */
    text-align: center; /* Alinear texto al centro */
    width: 100%; /* Establecer ancho completo */
    padding-top: 50px;
}
