@import "stylefooter.css";
@import "style-home.css";
.section-change h1{
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
}
.section-change h4{
    font-size: 20px;
}
.section-change p{
    font-size: 15px;
}
.section-change{
    margin-top: 0;
}
.section-change .section-info{
    justify-content:center;
    align-items: center;
    margin-left: 210px;
    margin-right: 210px;    ;
    border-left: 1px solid grey; 
    padding-left: 10px; 
}
.form-change{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.button-change{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    border: none;
    color: white;
}
.button-change:hover{
    background-color:dimgray;
}
.form-change .button-change{
    margin-bottom: 30px;
    text-decoration: none;
}
.section-change .change{
    margin-top: 30px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    position: relative;
}

.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}


.body-change {
    width: 100%;
}

.conteiner-change {
    width: 100%;
    padding: 25px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-change {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.conteiner-change form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-send {
    width: 48%;
    margin-bottom: 15px;
}

.form-send span {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-send input,
.form-send select {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    box-sizing: border-box;
}

.form-send small {
    color: red;
    display: none;
    font-size: 12px;
    margin-top: 5px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: dimgray;
}
