@import "stylefooter.css";
@import "contact.css";
@import "stylecontact.css";
@import "style-cambios.css";
@import "style-form-cambios.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.carousel-inner{
    object-fit: cover;
    border-radius: 15px;
    margin: 5, 5, 5,5px;
    
}

.header-nav {
    background-color: #333;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid var(--main-color);
}


.header-nav .nav-links {
    list-style-type: none;
}

.header-nav .nav-links li {
    display: inline;
    margin-right: .9rem;
}
.header-nav .nav-links li a:hover{
    color:#ffbc0e;
} 
.header-nav .nav-links li a {
    color: #fff;
    text-decoration: none;
}
.carousel {
    width: 100%;
    height: 75vh; /* Altura del carousel */
    
    object-fit: cover;
}

.carousel-inner {
    height: 100%; /* Asegura que el contenido del carousel tenga la misma altura que el carousel */
    display: flex;
    align-items: center;
    
}

.carousel-item {
    height: 100%; /* Asegura que cada slide tenga la misma altura que el carousel */
    transition: opacity 1s ease-in-out;
}

.carousel-item img {
    height: 100%;
    width: 70%;
    object-fit:unset;
    margin: 0 auto;
}

.header-nav span{
    font-weight: 600;
    text-shadow: #333;
    font-style: italic;
    letter-spacing: 0.25rem;
    color: red;
    
}
.footer-page .group-one .box span{
    font-weight: 600;
    text-shadow: #333;
    font-style: italic;
    letter-spacing: 0.25rem;
    color: red;
    
}